@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes scan {
  0% { top: 0%; }
  100% { top: 100%; }
}

.animate-scan {
  position: absolute;
  animation: scan 2s linear infinite;
}



